.bg-img {
    background-image: url(./../../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 870px;
    position: relative;
}
.menu {
    height: 50px;
    width: 100%;
    background-color: white;
    align-items: center;
    position: absolute;
    margin-top: 30px;
    border: 1px solid lightblue;
}
.logo-img {
    background-image: url(./../../images/logo.png);
    width: 125px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-bar {
    font-family: cursive;
    font-size: 25px;
    font-weight: 600;
}
a {
    margin-right: 20px;
}

/* country-map */

.country-map {
    margin: 20px auto;
    overflow: scroll;
    width: 600px;
    height: 514px;
}
.map-content {
    margin-top: 20px;
    border-top: 2px solid lightgrey;
}